In [34]:
from graphmodels.graphmodel import GraphModel, concatenate_graph_specs
from graphmodels.validation import score_model, plot_diagnostic, plot_baseline_vs_computation
import pandas as pd
import plotly.express as px
from sklearn.metrics import r2_score
from database import select_dataset
from models.Hermen.model_GE3 import GE3_models

from graphmodels.utils import df_to_data_dict, get_X_y_from_data

In [39]:
# to clean up

df = pd.read_csv('models/Hermen/data/GY_GE_GU_GM_GP_GT.csv').rename(columns={'Element': 'Description', 'GGI_code': 'Variable'})
pop = select_dataset('population').replace('P', 'Pop')
# data_dict = df_to_dict(pivot(df))
# data_dict['Pop'] = pop.set_index(['Area', 'Year'])['Value']
# data_dict['OEi'] = data_dict['OEi'].reset_index(level='Item', drop='True').dropna()
# data_dict['MYi'] = data_dict['MYi']#.dropna()#.reset_index(level='Item', drop='True').dropna()

/home/simon/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [40]:
def df_to_dict(df):
    X = {}
    for code in df.columns:
        X[code] = df[code]#.fillna(0)
    return X


def fill_missing_values(df):
    return df.groupby(level='Area').fillna(method='ffill')\
             .groupby(level='Area').fillna(method='bfill')


def df_to_data_dict(df, itemized):
    data_dict = {}
    
    non_item_df = df[~df.Variable.isin(itemized)].pivot(index=['Area', 'Year'], columns='Variable', values='Value')
    non_item_df = fill_missing_values(non_item_df)
    item_df = df[df.Variable.isin(itemized)].pivot(index=['Area', 'Year', 'Item'], columns='Variable', values='Value')
    
    data_dict.update(df_to_dict(non_item_df))
    data_dict.update(df_to_dict(item_df))
    
    return data_dict

In [41]:
df = pd.concat([df, pop])

In [42]:
itemized = df.dropna(subset=['Item']).Variable.unique()
data_dict = df_to_data_dict(df, itemized)

In [43]:
res = []
for model_name, model in GE3_models.items():
    print(model_name)
    X, y = get_X_y_from_data(model, data_dict)
    print(score_model(model, X, y))
    print()

TMi_model
    r2  correlation          rmse Variable
0  1.0          1.0  1.053919e-15      TMi

M_xi_model
    r2  correlation          rmse Variable
0  1.0          1.0  7.382541e-16     M_Ti
1  1.0          1.0  8.550658e-16    M_LPi
2  1.0          1.0  5.858794e-16    M_ASi

TMP_CO2eq_model
         r2  correlation       rmse   Variable
0  0.999997     0.999999  17.156806  TMP_CO2eq

TMT_CO2eq_model
         r2  correlation          rmse   Variable
0  0.999992     0.999997  2.536710e-05       E_Ti
1  1.000000     1.000000  1.259033e-08    E_TCH4i
2  0.999997     0.999999  2.438036e+00  TMT_CO2eq

TMA_CO2eq_model
         r2  correlation      rmse   Variable
0  0.999993          1.0  1.748403  TMA_CO2eq

TEE_CO2eq_model
    r2  correlation          rmse   Variable
0  1.0          1.0  4.388695e-10  TEE_CO2eq

FE_CO2eq_model
         r2  correlation         rmse  Variable
0  0.999987     0.999994  2401.629787  FE_CO2eq

GE3_partial_model
Empty DataFrame
Columns: []
Index: []

GE3_model
          r2  correlation          rmse   Variable
0   1.000000     1.000000  4.388695e-10  TEE_CO2eq
1   0.999997     0.999999  2.438036e+00  TMT_CO2eq
2   0.999993     1.000000  1.748403e+00  TMA_CO2eq
3   0.999997     0.999999  1.715681e+01  TMP_CO2eq
4   0.999987     0.999994  2.401630e+03   FE_CO2eq
5   1.000000     1.000000  3.124699e-16      M_ASi
6   1.000000     1.000000  3.314249e-16       M_Ti
7   0.999992     0.999997  2.536710e-05       E_Ti
8   1.000000     1.000000  1.259033e-08    E_TCH4i
9   1.000000     1.000000  5.881967e-16      M_LPi
10  1.000000     1.000000  1.053919e-15        TMi

In [6]:
%time GE3 = model.run(X)#['GE3']

CPU times: user 235 ms, sys: 7.07 ms, total: 242 ms
Wall time: 120 ms

# check on 1 country

In [7]:
df = pd.read_csv('models/Hermen/data/GY_GE_GU_GM_GP_GT.csv')
pop = select_dataset('population')
data_dict = df_to_dict(pivot(df.query("Area == 'France' and Year > 2010")))
data_dict['Pop'] = pop.query("Area == 'France'").set_index(['Area', 'Year'])['Value']
data_dict['OEi'] = data_dict['OEi'].reset_index(level='Item', drop='True').dropna()
data_dict['MYi'] = data_dict['MYi']#.dropna()#.reset_index(level='Item', drop='True').dropna()

/home/simon/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [9]:
X, y = get_X_y_from_data(model, data_dict)

GE3 = model.run(X)#['GE3']

In [10]:
df = pd.concat([GE3['TEE_CO2eq'],GE3['TMP_CO2eq'],GE3['TMT_CO2eq'],GE3['TMA_CO2eq']], axis=1)
df.columns = ["TEE_CO2eq", "TMP_CO2eq", "TMT_CO2eq", "TMA_CO2eq"]
df['TOTAL_CO2eq'] = df[["TEE_CO2eq", "TMP_CO2eq", "TMT_CO2eq", "TMA_CO2eq"]].sum(axis=1)

In [18]:
df.loc['France', 2017]

,TEE_CO2eq,TMP_CO2eq,TMT_CO2eq,TMA_CO2eq,TOTAL_CO2eq
Item,,,,,
NaN,NaN,NaN,NaN,NaN,0.000000
All Animals,NaN,NaN,NaN,NaN,0.000000
Asses,6.300000,2.472859,0.514827,0.103036,9.390722
Cattle,NaN,NaN,NaN,NaN,0.000000
"Cattle, dairy",8837.428509,890.661782,2817.613488,1366.026042,13911.729821
"Cattle, non-dairy",18382.007007,2940.170189,4015.023844,2789.102848,28126.303887
Chickens,NaN,NaN,NaN,NaN,0.000000
"Chickens, broilers",NaN,9.130926,138.770175,262.622162,410.523263
"Chickens, layers",NaN,9.162239,329.077288,263.522764,601.762291
Ducks,NaN,4.538228,56.522430,130.527742,191.588400
Goats,133.427385,152.717166,5.694012,6.363215,298.201779
Horses,141.850548,89.704741,13.600601,3.737698,248.893588
Mules,5.670210,2.225656,0.463361,0.092736,8.451963
Mules and Asses,NaN,NaN,NaN,NaN,0.000000
Nutrient nitrogen N (total),NaN,NaN,NaN,NaN,0.000000
Poultry Birds,NaN,NaN,NaN,NaN,0.000000
Sheep,1159.444608,628.797619,68.273959,92.874131,1949.390317
Sheep and Goats,NaN,NaN,NaN,NaN,0.000000
Swine,NaN,NaN,NaN,NaN,0.000000
"Swine, breeding",40.732209,NaN,356.757900,193.121036,590.611146
"Swine, market",366.589787,NaN,1735.224210,523.126587,2624.940584
Turkeys,NaN,8.747910,128.020116,251.605916,388.373943

# Animal

In [64]:
#livestock_df = select_dataset('livestock')
livestock_df = pd.read_csv('models/Hermen/data/QL.csv', index_col=0).rename(columns={'Element': 'Description', 'GGI_code': 'Variable'})

/home/simon/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (2,5,7,8) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [65]:
def df_to_dict(df):
    X = {}
    for code in df.columns:
        X[code] = df[code]#.fillna(0)
    return X


def fill_missing_values(df):
    return df.groupby(level='Area').fillna(method='ffill')\
             .groupby(level='Area').fillna(method='bfill')


def df_to_data_dict(df, itemized):
    data_dict = {}
    
    non_item_df = df[~df.Variable.isin(itemized)].pivot(index=['Area', 'Year'], columns='Variable', values='Value')
    non_item_df = fill_missing_values(non_item_df)
    item_df = df[df.Variable.isin(itemized)].pivot(index=['Area', 'Year', 'Item'], columns='Variable', values='Value')
    
    data_dict.update(df_to_dict(non_item_df))
    data_dict.update(df_to_dict(item_df))
    
    return data_dict

In [66]:
itemized = livestock_df.dropna(subset=['emi_item']).Variable.unique()
#data_dict = df_to_data_dict(livestock_df, itemized)

In [67]:
test = livestock_df.copy()#.groupby(['Area', 'Year', 'Variable', 'emi_item', 'Item'])#.sum().reset_index()

def pivot(df):
    return df.pivot(index=['Area', 'Year','Item', 'emi_item'], columns='Variable', values='Value')

test = df_to_dict(pivot(test))
test['TAi'] = data_dict['TAi']
test['PTTAi'] = test['PTTAi'].reset_index(level='Item', drop=True).rename_axis(index={'emi_item': 'Item'}).dropna()

In [75]:
__author__ = 'Hermen'
__status__ = 'Pending Validation'

"""
TO DO.
"""
from graphmodels.graphmodel import GraphModel, concatenate_graph_specs

# Conversions
GWPN2O = 310
GWPCH4 = 21
N2ON_to_NO2 = 1.57
kg_to_Gg = 1e-6

TAi_nodes = {'FPi': {'type': 'input',
                     'unit': 'tonnes',
                     'name': 'Production'},
             'AYi': {'type': 'input',
                     'unit': 'tonnes/head',
                     'name': 'Vector of animal yields'},
             'ANPi': {'type': 'variable',
                      'unit': 'head',
                      'name': 'Vector animals needed for production',
                      'computation': lambda FPi, AYi, **kwargs: FPi / AYi
                      },
             'PTTAi': {'type': 'parameter',
                       'unit': '1',
                       'name': 'vector production-to-total animals ratio',
                       },
             'TAi': {'type': 'output',
                     'unit': 'head',
                     'name': 'Total animal population',
                     'computation': lambda ANPi, PTTAi, **kwargs: PTTAi * ANPi.groupby(level=['Area', 'Year', 'emi_item']).sum().rename_axis(index={"emi_item": 'Item'})
                     },
             }

TMi_nodes = {'TAi': {'type': 'input', 'unit': 'head', 'name': 'Total animal population'},
             'MYi': {'type': 'input', 'unit': 'kgN/head', 'name': 'Manure yields'},
             'TMi': {'type': 'output',
                     'unit': 'kgN',
                     'name': 'Total Manure (N content)',
                     'computation': lambda TAi, MYi, **kwargs: TAi * MYi
                     }
             }

M_xi_nodes = {'TMi': {'type': 'input',
                              'unit': 'kgN',
                              'name': 'Total Manure (N content)'},
              'MM_ASi': {'type': 'input',
                         'unit': '1',
                         'name': '% Manure applied to soils'},
              'MM_LPi': {'type': 'input',
                         'unit': '1',
                         'name': '% Manure left on pasture'},
              'MM_Ti': {'type': 'input',
                        'unit': '1',
                        'name': '% Manure left on treated'},
              'M_Ti': {'type': 'output',
                       'unit': 'kgN',
                       'name': 'Manure treated (N content)',
                       'computation': lambda MM_Ti, TMi, **kwargs: MM_Ti * TMi

                       },
              'M_LPi': {'type': 'output',
                        'unit': 'kg',
                        'name': 'Manure left on pasture (N content)',
                        'computation': lambda MM_LPi, TMi, **kwargs: MM_LPi * TMi

                        },
              'M_ASi': {'type': 'output',
                        'unit': 'kgN',
                        'name': 'Manure applied to soils (N content)',
                        'computation': lambda MM_ASi, TMi, **kwargs: MM_ASi * TMi

                        }
              }

TMP_CO2eq_nodes = {'M_LPi': {'type': 'input',
                             'unit': 'kg',
                             'name': 'Manure left on pasture (N content)'},
                   'EF_Li': {'type': 'parameter',
                             'unit': 'kg N2O-N/kg N',
                             'name': 'Implied emission factor for N2O (Manure on pasture)'
                             },
                   'TMP_CO2eq': {'type': 'output',
                                 'unit': 'gigagrams (CO2eq)',
                                 'name': 'Emissions (CO2eq) (Manure on pasture)',
                                 'computation': lambda M_LPi, EF_Li, **kwargs: kg_to_Gg * N2ON_to_NO2 * GWPN2O * (M_LPi * EF_Li)
                                 }
                   }

TMT_CO2eq_nodes = {'M_Ti': {'type': 'input',
                            'unit': 'kgN',
                            'name': 'Manure treated (N content)',
                            },
                   'EF_Ti': {'type': 'parameter',
                             'unit': 'kg N2O-N/kg N',
                             'name': 'Implied emission factor for N2O (Manure management)'},
                   'EF_CH4Ti': {'type': 'parameter',
                                'unit': 'kg/head',
                                'name': 'Implied emission factor for CH4 (Manure management)'},
                   'TAi': {'type': 'input',
                           'unit': 'head',
                           'name': 'Total animal population'},
                   'E_Ti': {'type': 'variable',
                            'unit': 'gigagrams',
                            'name': 'Emissions (N2O) (Manure management)',
                            'computation': lambda EF_Ti, M_Ti, **kwargs: N2ON_to_NO2 * kg_to_Gg * (EF_Ti * M_Ti)
                            },
                   'E_TCH4i': {'type': 'variable',
                               'unit': 'gigagrams',
                               'name': 'Emissions (CH4) (Manure management)',
                               'computation': lambda EF_CH4Ti, TAi, **kwargs: kg_to_Gg * (EF_CH4Ti * TAi)
                               },
                   'TMT_CO2eq': {'type': 'output',
                                 'unit': 'gigagrams (CO2eq)',
                                 'name': 'Emissions (CO2eq) (Manure management)',
                                 'computation': lambda E_Ti, E_TCH4i, **kwargs: E_Ti * GWPN2O + E_TCH4i * GWPCH4
                                 }}

TMA_CO2eq_nodes = {'M_ASi': {'type': 'input',
                             'unit': 'kgN',
                             'name': 'Manure applied to soils (N content)',
                             },
                   'EF_ASi': {'type': 'parameter',
                              'unit': 'kg N2O-N/kg N',
                              'name': 'Implied emission factor for N2O (Manure applied)'},
                   'TMA_CO2eq': {'type': 'output',
                                 'unit': 'gigagrams (CO2eq)',
                                 'name': 'Emissions (CO2eq) (Manure applied)',
                                 'computation': lambda EF_ASi, M_ASi, **kwargs: GWPN2O * N2ON_to_NO2 * kg_to_Gg * (EF_ASi * M_ASi)
                                 }
                   }

TEE_CO2eq_nodes = {'EF_EEi': {'type': 'input',
                              'unit': 'kg CH4 / head',
                              'name': 'Implied emission factor for CH4 (Enteric)'},
                   'TAi': {'type': 'input',
                           'unit': 'head',
                           'name': 'Total animal population'},
                   'TEE_CO2eq': {'type': 'output',
                                 'unit': 'gigagrams (CO2eq)',
                                 'name': 'Emissions (CO2eq) (Enteric)',
                                 'computation': lambda TAi, EF_EEi, **kwargs: kg_to_Gg * GWPCH4 * (TAi * EF_EEi)
                                 }
                   }

FE_CO2eq_nodes = {
    'IN_F': {'type': 'input',
             'unit': 'kg',
             'name': 'Agricultural Use in nutrients',
             },
    'EF_F': {'type': 'parameter',
             'unit': 'kg N2O-N/kg N',
             'name': 'Implied emission factor for N2O (Synthetic fertilizers)'},
    'FE_CO2eq': {'type': 'output',
                 'unit': 'gigagrams (CO2eq)',
                 'name': 'Emissions (CO2eq) (Synthetic fertilizers)',
                 'computation': lambda EF_F, IN_F, **kwargs: GWPN2O * N2ON_to_NO2 * kg_to_Gg * (EF_F * IN_F)
                 }
}

GE3_nodes = {'Pop': {'type': 'input', 'unit': '1000 persons', 'name': 'Total population'},
             'TEE_CO2eq': {'type': 'input',
                           'unit': 'gigagrams (CO2eq)',
                           'name': 'Emissions (CO2eq) (Enteric)'},
             'TMT_CO2eq': {'type': 'input',
                           'unit': 'gigagrams (CO2eq)',
                           'name': 'Emissions (CO2eq) (Manure management)'},
             'TMA_CO2eq': {'type': 'input',
                           'unit': 'gigagrams (CO2eq)',
                           'name': 'Emissions (CO2eq) (Manure applied)'},
             'TMP_CO2eq': {'type': 'input',
                           'unit': 'gigagrams (CO2eq)',
                           'name': 'Emissions (CO2eq) (Manure on pasture)'},
             'FE_CO2eq': {'type': 'input',
                          'unit': 'gigagrams (CO2eq)',
                          'name': 'Emissions (CO2eq) (Synthetic fertilizers)'},
             'OEi': {'type': 'input',
                     'unit': 'gigagrams (CO2eq)',
                     'name': 'Vector of other emissions'},
             'GE3': {'type': 'output',
                     'unit': 'gigagrams (CO2eq) / capita',
                     'name': 'Ratio of non-CO2 emissions in agriculture to population',
                     'computation': lambda OEi, TEE_CO2eq, TMT_CO2eq, TMP_CO2eq, TMA_CO2eq, FE_CO2eq, Pop, **kwargs: (OEi + (TEE_CO2eq + TMT_CO2eq + TMP_CO2eq + TMA_CO2eq + FE_CO2eq).groupby(level=['Area', 'Year']).sum()) / (Pop * 1e3)}}


nodes = concatenate_graph_specs(
    [GE3_nodes, TEE_CO2eq_nodes, TMA_CO2eq_nodes, TMT_CO2eq_nodes, TMP_CO2eq_nodes, FE_CO2eq_nodes, M_xi_nodes, TMi_nodes, TAi_nodes])

# models
TAi_model = GraphModel(TAi_nodes)
TMi_model = GraphModel(TMi_nodes)
M_xi_model = GraphModel(M_xi_nodes)
TMP_CO2eq_model = GraphModel(TMP_CO2eq_nodes)
TMT_CO2eq_model = GraphModel(TMT_CO2eq_nodes)
TMA_CO2eq_model = GraphModel(TMA_CO2eq_nodes)
TEE_CO2eq_model = GraphModel(TEE_CO2eq_nodes)
FE_CO2eq_model = GraphModel(FE_CO2eq_nodes)
GE3_partial_model = GraphModel(GE3_nodes)

GE3_model = GraphModel(nodes)

GE3_models = {'TMi_model': TMi_model,
              'TAi_model': TAi_model,
              'M_xi_model': M_xi_model,
              'TMP_CO2eq_model': TMP_CO2eq_model,
              'TMT_CO2eq_model': TMT_CO2eq_model,
              'TMA_CO2eq_model': TMA_CO2eq_model,
              'TEE_CO2eq_model': TEE_CO2eq_model,
              'FE_CO2eq_model': FE_CO2eq_model,
              'GE3_partial_model': GE3_partial_model,
              'GE3_model': GE3_model
              }


test_mod = GraphModel( concatenate_graph_specs([TMi_nodes, TAi_nodes]))

In [76]:
X, y = get_X_y_from_data(TAi_model, data_dict)

res = TAi_model.run(X)

print(score_model(TAi_model, X, y))

    r2  correlation          rmse Variable
0  1.0          1.0  2.075621e+08     ANPi
1  1.0          1.0  1.660086e+09      TAi

In [77]:
TAi_model.draw()

In [78]:
X, y = get_X_y_from_data(model, data_dict)
#%time res = model.run(X)
print(score_model(model, X, y))

          r2  correlation          rmse   Variable
0   0.999993     0.999997  1.355986e+03  TEE_CO2eq
1   0.999994     1.000000  1.152310e+01  TMT_CO2eq
2   0.999992     1.000000  4.884231e+00  TMA_CO2eq
3   0.999994     0.999997  1.542225e+02  TMP_CO2eq
4   0.999987     0.999994  2.401630e+03   FE_CO2eq
5   1.000000     1.000000  1.660086e+09        TAi
6   1.000000     1.000000  4.132546e+09      M_ASi
7   1.000000     1.000000  2.853126e+09       M_Ti
8   0.999990     1.000000  1.193198e-04       E_Ti
9   1.000000     1.000000  7.233699e-05    E_TCH4i
10  0.999992     0.999996  7.899820e+11      M_LPi
11  0.999994     0.999997  9.102665e+11        TMi
12  1.000000     1.000000  2.075621e+08       ANPi

In [79]:
res = []
for model_name, model in GE3_models.items():
    print(model_name)
    X, y = get_X_y_from_data(model, data_dict)
    #%time res = model.run(X)
    print(score_model(model, X, y))

    print()

TMi_model
    r2  correlation          rmse Variable
0  1.0          1.0  1.053919e-15      TMi

TAi_model
    r2  correlation          rmse Variable
0  1.0          1.0  2.075621e+08     ANPi
1  1.0          1.0  1.660086e+09      TAi

M_xi_model
    r2  correlation          rmse Variable
0  1.0          1.0  7.382541e-16     M_Ti
1  1.0          1.0  8.550658e-16    M_LPi
2  1.0          1.0  5.858794e-16    M_ASi

TMP_CO2eq_model
         r2  correlation       rmse   Variable
0  0.999997     0.999999  17.156806  TMP_CO2eq

TMT_CO2eq_model
         r2  correlation          rmse   Variable
0  0.999992     0.999997  2.536710e-05       E_Ti
1  1.000000     1.000000  1.259033e-08    E_TCH4i
2  0.999997     0.999999  2.438036e+00  TMT_CO2eq

TMA_CO2eq_model
         r2  correlation      rmse   Variable
0  0.999993          1.0  1.748403  TMA_CO2eq

TEE_CO2eq_model
    r2  correlation          rmse   Variable
0  1.0          1.0  4.388695e-10  TEE_CO2eq

FE_CO2eq_model
         r2  correlation         rmse  Variable
0  0.999987     0.999994  2401.629787  FE_CO2eq

GE3_partial_model
Empty DataFrame
Columns: []
Index: []

GE3_model
          r2  correlation          rmse   Variable
0   0.999993     0.999997  1.355986e+03  TEE_CO2eq
1   0.999994     1.000000  1.152310e+01  TMT_CO2eq
2   0.999992     1.000000  4.884231e+00  TMA_CO2eq
3   0.999994     0.999997  1.542225e+02  TMP_CO2eq
4   0.999987     0.999994  2.401630e+03   FE_CO2eq
5   1.000000     1.000000  1.660086e+09        TAi
6   1.000000     1.000000  4.132546e+09      M_ASi
7   1.000000     1.000000  2.853126e+09       M_Ti
8   0.999990     1.000000  1.193198e-04       E_Ti
9   1.000000     1.000000  7.233699e-05    E_TCH4i
10  0.999992     0.999996  7.899820e+11      M_LPi
11  0.999994     0.999997  9.102665e+11        TMi
12  1.000000     1.000000  2.075621e+08       ANPi